doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css')
		link(rel='stylesheet', href='css/styles.css')
	body
		.container
			.row
				.column
					block content
